node_modules
packages/*/node_modules
.git
.next
packages/*/.next
dist
packages/*/dist
coverage
packages/*/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
packages/*/.env
packages/*/.env.local
packages/*/.docker.env
